{% extends "pages/base.html" %}
{% load static %} 

{% block content %}
<section class="hero">
    <div class="px-4 py-5  text-center"
    style="height: 297px;">
         <!-- pagination section -->
        <h1 class="display-5 fw-bold col-lg-6 mx-auto">MEET SIMLOGIC SOLUTIONS</h1>
        <ol class="breadcrumb bg-transparent justify-content-center py-3">
          <li class="breadcrumb-item">
            <a href="{% url 'home'%}">
              <i class="fas fa-home"></i> Home</a>
          </li>
          <li class="breadcrumb-item "> About Us</li>
          <li class="breadcrumb-item "> About Us</li>
        </ol>
      </div>
</section>
<!-- mission n photo section -->
<section>
  <div class="card-columns position-relative mx-3 my-3 "> 
    <div class="card mx-4 border-0 ">
      <div class="card-body"style="margin-top:120px;">
        <h2 class="card-title text-primary">OUR MISSION</h2>
        <p class="card-text">Our team comprises the very best people whom we equip with the latest technology and skills to provide world-class, 
          individually tailored and innovative business solutions for small, medium and large enterprises across industries and sectors. 
          This we achieve by nurturing a customer first team culture focused on adding value. </p>
      </div>
      <div class="rightImgs" >
        <a href=""><img src="{% static 'img/randoms/teamwork.png' %}" class="kb2"></a>
        <!-- <a href=""><img src="{% static 'img/ssl-logo (2).png' %}" class="kb"></a> -->
        <!-- <a href=""><img src="{% static 'img/ssl-logo (2).png' %}" class="headset"></a>
        <a href=""><img src="{% static 'img/ssl-logo (2).png' %}" class="mobo"></a> -->
      </div>
    </div>
  </div>
</section>
<!--   why we are the right choice section -->
<section>
  <div class="px-4 py-5  text-center text-primary">
    <h3 class="display-5 fw-bold col-lg-6 mx-auto">WHY WE ARE THE RIGHT CHOICE</h3>
  </div>
  <div class="card-group my-4">
    <div class="card mx-4 rounded c-border">
      <img src="{% static '/img/randoms/UTeam.png' %}" class="card-img-top" alt="...">
      <div class="card-body ">
        <h5 class="card-title text-center">Teamwork</h5>
        <p class="card-text">Our team works consists of driven consultants who care a lot about getting 
          it done, and building customer relationships. We work collaboratively to achieve a common 
          goal or to complete a task in the most effective and efficient way. Our Simlogic Solutions 
          consulting team truly becomes a valuable extension of our clients’ teams. As a result, our 
          consultants are a primary reason our clients recommend our services to others.</p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
    <div class="card mx-4 rounded c-border">
      <img src="{% static '/img/randoms/glossyml.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Effectiveness</h5>
        <p class="card-text">Our “one team” attitude breaks down silos and helps us engage equally 
          effectively from the C-suite to the front line. Our collaborative working style emphasizes 
          teamwork, trust, and tolerance for diverging opinions. People tell us we are down-to-earth, 
          approachable and fun.</p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
    <div class="card mx-4 rounded c-border">
      <img src="{% static '/img/randoms/Umeeting.png' %}" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Passion </h5>
        <p class="card-text">We have a passion for our clients’ true results and a pragmatic drive for 
          action that starts Monday morning 8 am and doesn’t let up. We rally clients with our 
          infectious energy, to make change stick. And we never go it alone. We support and are 
          supported to develop our own personal results stories. We balance challenging and co-creating 
          with our clients, building the internal capabilities required for them to create repeatable 
          results.</p>
        <!-- <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p> -->
      </div>
    </div>
  </div>
</section>
<section>
  <div  class="px-4 py-5 text-center">
      <h3 class="display-5 fw-bold text-primary my-4">Get Competitive & Affordable IT Solutions.</h3>
      <div class="col-lg-6 mx-auto">
        <!-- <p class="lead mb-4">Simlogic Solutions is an SAP Partner that delivers successful projects to specified scope, time and budget, and an approach to deliver value throughout the engagement.</p> -->
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Contact Us</button>
        </div>
      </div>
    </div>

</section>

{%endblock%}