{% extends "pages/base.html" %}
{% load static %} 
{% block content %}
<!-- Hero section &  add paginator in this section -->
<section class="hero">
    <div class="px-4 py-5  text-center"
    style="height: 297px;">
         <!-- pagination section -->
        <h1 class="display-5 fw-bold col-lg-6 mx-auto">OUR PATNERS</h1>
        <ol class="breadcrumb bg-transparent justify-content-center py-3">
            <li class="breadcrumb-item">
              <a href="{% url 'home'%}">
                <i class="fas fa-home"></i> Home</a>
            </li>
            <li class="breadcrumb-item "> Our Patners</li>
          </ol>
      </div>
</section>

<!-- customer logo  -->
<section class="logo-list our-clients">
    <div class="container">
      <div class="col-lg-6 mx-auto text-center">
        <h2 class="py-5 text-uppercase text-primary ">our patners</h2>
      </div>
      <div class="row my-3">
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#"><img src="{% static 'img/sap3.png' %}" alt="Unga limited" class="img-fluid" ></a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#"><img src="{% static 'img/aws-logo.png' %}" alt="Madison Insurance" class="img-fluid" ></a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#"><img src="{% static 'img/fdlogo.png' %}" alt="Bakhresa" class="img-fluid" ></a>
            </div>
            <div class="col-lg-3 col-md-4 col-6">
                <a href="#"><img src="{% static 'img/godaddylogo.png' %}" class="img-fluid" alt="United Pharma"></a>
            </div>
        </div>
    </div>
</section>

{% endblock %}